<div class='mt-4'>
</div>
<footer class="footer fixed-bottom">
      <div class="container text-center">
        <span class="text-muted mt-5">Renata Cehajic | 2020 | 
			<a class='ml-2' href='' alt='Renata Cehajic Portfolio Website'><i class="fas fa-laptop"></i></a>
			<a class='ml-2' href='https://www.linkedin.com/in/renata-cehajic-49712630/' alt='Paul Garrod LinkedIn profile'><i class="fab fa-linkedin"></i></a> 
			<a class='ml-2' href='https://github.com/RenataCehajic' alt='Renata Cehajic GitHub profile'><i class="fab fa-github-square"></i></a> 
			
		  </span>
      </div>
</footer>	


</body>
</html>